:root {
    /* --tg-theme-bg-color: #212d3b;
    --tg-theme-section-bg-color: #1d2733;
    --tg-theme-secondary-bg-color: #151e27;
    --tg-theme-text-color: #ffffff;
    --tg-theme-hint-color: #7d8b99;
    --tg-theme-link-color: #5eabe1;
    --tg-theme-button-color: #229af0;
    --tg-theme-button-text-color: #ffffff;
    --tg-theme-header-bg-color: #242d39;
    --tg-theme-accent-text-color: #64b5ef;
    --tg-theme-section-header-text-color: #79c4fc;
    --tg-theme-subtitle-text-color: #7b8790;
    --tg-theme-destructive-text-color: #ee686f;
    --tg-theme-section-separator-color: #0d1218;
    --tg-theme-bottom-bar-bg-color: #151e27; */

    --otstup: 20px;
}

html { scrollbar-width: none; } 
body { -ms-overflow-style: none; }
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; }

body {
    background-color: var(--tg-theme-secondary-bg-color);
    margin: 0;
}
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
section {
    width: 100%;
    background-color: var(--tg-theme-section-bg-color);
}
section.bottom {
    margin-bottom: 12px;
}

/* item */
.item {
    padding-left: var(--otstup);
    display: flex;
    text-decoration: none;
    position: relative;
    overflow: hidden; 
}
.item .separator {
    border-bottom: 0.5px solid var(--tg-theme-section-separator-color);
}
.big-header {
    align-items: center;
    text-align: center;
    padding: 24px 28px;
}
.big-header img {
    width: 100px;
}
.big-header-title {
    margin-bottom: 12px;
    margin-top: 8px;
}
.info_block {
    display: grid;
    grid-template-columns: 45px auto;
    padding: 15px 40px 0px 20px;
}
.icon_info_block {
    text-align: center;
    width: 30px;
    height: 30px;
}
.text_info_block {
    text-align: left;
    margin-bottom: 15px;
    gap: 3px;
}


/* Основные компаненты item-а */
.item .right {
    display: flex;
    padding-right: var(--otstup);
    width: 100%;
}
.item .left {
    display: flex;
    place-items: center;
    margin-right: 14px;
    text-decoration: none;
}

.item .second-left {
    display: flex;
    place-items: center;
    margin-right: 9px;
    text-decoration: none;
}
/* Для любого контейнера с классом .clicked */
.clicked {
    position: relative;
    overflow: hidden; /* Обязательно: обрезает ripple по border-radius контейнера */
    -webkit-tap-highlight-color: transparent;
}

.clicked .ripple {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(129, 129, 129, 0.1); /* Немного ярче для видимости */
    transform: translate(-50%, -50%) scale(0); /* Начальное состояние */
    opacity: 1;
    pointer-events: none;
    z-index: 3;
    /* Плавное расширение */
    transition: transform 0.6s cubic-bezier(0.2, 0, 0.4, 1), opacity 0.3s ease;
}



/* Когда палец нажат */
.clicked .ripple.is-active {
    transform: translate(-50%, -50%) scale(1);
}

/* Когда палец отпущен */
.clicked .ripple.is-fading {
    opacity: 0;
}


/* Контейнеры для элементов item-а */
.item .ava {
    border-radius: 50%;
    width: 42px;
    height: 42px;
}
.item .icon {
    width: 42px;
}
.item .text {
    width: 100%;
}
.item .text.oneline {
    padding-top: 15px;
    padding-bottom: 15px;
}
.item .text.twoline {
    padding-top: 9px;
    padding-bottom: 9px;
}
.item .text.header {
    padding-top: 16px;
    padding-bottom: 16px;
}
.item .element {
    display: flex;
    white-space: nowrap;
    place-items: center;
    text-decoration: none;
}
.item .element svg {
    stroke: var(--tg-theme-hint-color);
}
.item.footer {
    margin-bottom: 20px;
    color: var(--tg-theme-subtitle-text-color);
}


/* Кнопки */
.button {
    display: flex;
    background: var(--tg-theme-button-color);
    border: none;
    border-radius: 6px;
    padding: 6px 12px 6px 12px;
    color: #fff;
    cursor: pointer;
}
.button:active {
    transform: scale(0.96);
    transition: 0.03s;
}


/* Цвета элементов */
.label {
    color: var(--tg-theme-text-color);
    cursor: default;
}
.defult {
    color: #fff;
    cursor: default;
    z-index: 1;
}
.subname {
    color: #ffffff9d;
    cursor: default;
}
.active {
    margin-top: 2px;
    color: var(--tg-theme-button-color);
    cursor: default;
}
.title {
    color: var(--tg-theme-accent-text-color);
    cursor: default;
    height: 20px;
    padding-top: 20px;
    width: 100%;
}
.second-title {
    padding-top: 20px;
    display: block;
    text-decoration: none;
    color: var(--tg-theme-accent-text-color);
    cursor: pointer;
}
.label-active {
    color: var(--tg-theme-accent-text-color);
    cursor: default;
    text-decoration: none;
}
.label-hint {
    color: var(--tg-theme-subtitle-text-color);
    cursor: default;
}
.label-destructive {
    color: var(--tg-theme-destructive-text-color);
    cursor: default;
}
.subtitle {
    margin-top: 2px;
    color: var(--tg-theme-subtitle-text-color);
    cursor: default;

}
